<%= form_for(:product, url: @path) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, value: @product['name'] %>
  </div>

  <div class="field">
    <%= form.label :expiry_date %>
    <% expiry_date = @product['expiry_date'].nil? ? '' : @product['expiry_date']%>
    <%= form.date_field :expiry_date, value: expiry_date %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, value: @product['price'] %>
  </div>

  <div class="field">
    <%= form.label :sku_id %>
    <%= form.number_field :sku_id, value: @product['sku_id'] %>
  </div>
  <% if @path.include? 'create' %>
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, value: @product['sku_id'] %>
  </div>
  <b>Or provide URL's of the images seperated by comma(,)</b><br>
  <div class="field">
    <%= form.label :image_path %>
    <%= form.text_area :image_path, value: @product['sku_id'] %>
  </div>
  <% end %>

 	<div class="field">
  <b>provide categories seperated by comma(,)</b><br>
	  <%= fields_for :category do |category| %>
    	<%= category.label :categories %>
    	<%= category.text_area :name, value: @product['categories']%>
	  <% end %>
   </div>
  <b>provide Tags seperated by comma(,)</b><br>
 	<div class="field">
	  <%= fields_for :tags do |tags| %>
    	<%= tags.label :tags %>
    	<%= tags.text_area :name, value: @product['tags']%>
	  <% end %>
   </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
